<%= erb :"front_end/header" %>

<main class="orders">

  <p class="title text-center">Shopping Basket</p>
  <hr>
  <a name="redirect"></a>

  <% if @basket.eql? 0 %>
    <div class="container">
      <div class="order alert alert-info">
        <strong>Your Shopping Basket is Empty, </strong> continue shopping on the
        <a href="/menu" class="alert-link"> menu</a> or
        <a href="/deals" class="alert-link"> learn about today's deals</a>.
      </div>
    </div>
  <% end %>

  <% if @order_placed %>
    <div class="container text-center">
      <div class="center-block order alert alert-success alert-dismissible" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Your order has been placed!
      </div>
    </div>
  <% end %>

  <div class="container table-responsive" style="background-color:white">
    <table id="orders" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
      <thead>
      <tr>
        <th>Item</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
      </thead>

      <!--Do not display basket if the user is not logged in-->
      <% if session[:logged_in] %>
        <% total_price = 0 %>
        <% @basket_entries.each do |id| %>
          <% item_id = @orders_db.execute('SELECT pizza_id FROM basket WHERE item_id = ? AND username = ?', id, session[:username]) %>
          <tr>
            <td class="item">
              <div class="row">
                <div class="col-sm-3">
                  <img src="<%= h get_pizza_image_path(item_id) %>" alt="<%= h get_pizza_name(item_id) %>" class="center-block img-responsive img-rounded" height="auto" width="auto">
                </div>
                <div class="col-sm-9">
                  <% if get_pizza_location(item_id).eql? "Both" %>
                    <h3><%= h get_pizza_name(item_id) %></h3>
                  <% else %>
                    <h3><%= h get_pizza_name(item_id) %> (<%= h get_pizza_location(item_id) %>
                      only)</h3>
                  <% end %>
                  <h5><%= h get_pizza_description(item_id) %></h5>
                  <h5>Allergen: <%= h get_pizza_allergen_info(item_id) %></h5>
                </div>
              </div>
            </td>

            <td class="size">
              <%= @orders_db.execute("SELECT size FROM basket WHERE item_id = ? AND username = ?", id, session[:username]).to_s.delete('[]"') %>
            </td>

            <td class="quantity text-center">
              <form method="get" action="order/update_price">
                <input type="hidden" name="item_id" value="<%= id.to_s.delete('[]"') %>">
                <input type="hidden" name="pizza_size" value="<%= @orders_db.execute("SELECT size FROM basket WHERE item_id = ? AND username = ?", id, session[:username]).to_s.delete('[]"') %>">
                <div class="form-group">
                  <input type="text" class="form-control" name="quantity" maxlength="2" value="<%= @orders_db.get_first_value("SELECT quantity FROM basket WHERE item_id = ? AND username = ?", id, session[:username]).to_s.delete('[]"') %>" onkeypress="return isNumberKey(event)">
                </div>
                <div class="row">
                  <button id="delete-<%= id.to_s.delete('[]') %>" name="action" value="delete" type="submit" class="order_button btn btn-danger">Delete</button>
                  <button id="update-price-<%= id.to_s.delete('[]') %>" name="action" value="update" type="submit" class="order_button btn btn-warning">
                    <span class="glyphicon glyphicon-refresh"></span> Update
                  </button>
                </div>
              </form>
            </td>

            <td class="price">
              <% case @orders_db.get_first_value('SELECT size FROM basket WHERE item_id = ? AND username = ?', id, session[:username]).to_s.delete('[]"')
                   when "Small" %>
                <% price = get_small_pizza_price(@menu_db.execute('SELECT price_category FROM pizza_pricing WHERE pizza_id = ?', item_id)) %>
              <% when "Medium" %>
                <% price = get_medium_pizza_price(@menu_db.execute('SELECT price_category FROM pizza_pricing WHERE pizza_id = ?', item_id)) %>
              <% when "Large" %>
                <% price = get_large_pizza_price(@menu_db.execute('SELECT price_category FROM pizza_pricing WHERE pizza_id = ?', item_id)) %>
              <% end %>

              <% quantity_price = @orders_db.execute('SELECT quantity FROM basket WHERE item_id = ? AND username = ?', id, session[:username]).to_s.delete('[]"').to_i * price.to_f %>

              £<%= quantity_price.round(2) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <% unless @basket.eql? 0 %>
      <p class="lead text-right"><strong>Subtotal (<%= @basket %> items):
        <span style="color:#b12704;">£<%= @total_price %></span></strong></p>

      <% if @loyal %>
        <div class="order center-block" style="width:400px;">
          <div class="alert alert-success" align="center">
            5% off because of your loyalty!
          </div>
        </div>
      <% end %>

      <% if @deal1_eligible %>
        <div class="order center-block" style="width:400px;">
          <div class="alert alert-success" align="center">
            Go Large has been applied ! <strong><br> To see more infromation about the deals
            <a href="/deals" class="alert-link">click me</a></strong>
          </div>
        </div>
      <% end %>

      <% if @deal2_eligible %>
        <div class="order center-block" style="width:400px;">
          <div class="alert alert-success" align="center">
            Over £40 has been applied ! <strong><br> To see more infromation about the deals
            <a href="/deals" class="alert-link">click me</a></strong>
          </div>
        </div>
      <% end %>

      <% if @deal3_eligible %>
        <div class="order center-block" style="width:400px;">
          <div class="alert alert-success" align="center">
            Pepsi Lover has been applied! You get <%= h @total_medium_pizza / 2 %> free 2L Pepsi
            <% if (@total.eql? 2) %> bottle
            <% else %> bottles
            <% end %><strong><br>
            To see more infromation about the deals
            <a href="/deals" class="alert-link">click me</a></strong>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if !(@basket.eql? 0) %>
      <% if session[:logged_in] %>
        <% if session[:profile_completed] %>
          <form method="post" action="order/place_order" class="checkout text-center">
            <input type="hidden" name="total_price" value="<%= @total_price.to_f.round(2) %>">
            <% if @offers_id.length > 0 %>
              <div class="form-group">
                <select name="special_offer" class="selectpicker" data-size="5" title="Select a special offer" data-width="fit" multiple data-max-options="1">
                  <% @offers_id.each do |id| %>
                    <option value="<%= id.to_s.delete('[]').to_i %>" data-subtext="<%= h get_special_offer_description(id) %>"><%= h get_special_offer_code(id) %></option>
                  <% end %>
                </select>
              </div>
            <% end %>

            <div class="form-group">
              <select name="customize[]" class="selectpicker" data-size="7" title="Customize your pizza" data-width="fit" multiple>
                <optgroup label="Cheese" data-max-options="1">
                  <option value="Cheddar">Cheddar</option>
                  <option value="Mozzarella">Mozzarella</option>
                  <option value="Swiss">Swiss</option>
                  <option value="No cheese">No cheese</option>
                </optgroup>
                <optgroup label="Sauce" data-max-options="1">
                  <option value="BBQ">BBQ</option>
                  <option value="Tomato">Tomato</option>
                  <option value="No sauce">No sauce</option>
                </optgroup>
                <optgroup label="Onion">
                  <option value="No onion">No onion</option>
                </optgroup>
              </select>
            </div>

            <% if @too_far %>
              <div class="alert alert-danger">
                <strong>We do not currently deliver to <%= h @location %>.</strong>
                Please select your nearest store below.
              </div>

              <div class="form-group">
                <label class="radio-inline"><input type="radio" class="prettyCheckable" name="order_type" value="Coll.SHF" required><span class="adjust">Sheffield</span></label>
                <label class="radio-inline"><input type="radio" class="prettyCheckable" name="order_type" value="Coll.LON" required><span class="adjust">London</span></label>
              </div>
            <% else %>
              <div class="form-group">
                <label class="radio-inline"><input type="radio" class="prettyCheckable" name="order_type" value="Delivery" required><span class="adjust">Delivery</span></label>
                <label class="radio-inline"><input type="radio" class="prettyCheckable" name="order_type" value="Collection" required><span class="adjust">Collection</span></label>
              </div>
            <% end %>

            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" class="prettyCheckable" required><span class="adjust">Confirmation of order</span></label>
              </div>
            </div>

            <div id="order_btn">
              <button id="tweet-to-order" type="submit" class="btn btn-social btn-twitter">
                <span class="fa fa-twitter"></span>Tweet to Order
              </button>
            </div>
          </form>
        <% else %>
          <div class="menu custom alert alert-danger text-center" role="alert" id="warning">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <a href="/profile" class="alert-link">Please complete your profile first before
              placing an order.</a></a>
          </div>
        <% end %>
      <% else %>
        <div id="info_div">
          <table>
            <tr>
              <td id="info">
                <img src="/images/icon/info.svg" alt="Small info icon" height="auto" width="20">
              </td>

              <td id="info_text">
                <p>You must sign in to place an order.</p>
              </td>
            </tr>
          </table>
        </div>

        <div id="signin_button" class="text-center">
          <a href="/login" class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span>
            Sign in with Twitter</a>
        </div>
      <% end %>
    <% else %>
      <% if !session[:logged_in] %>
        <br><br><br><br>
        <div id="info_div">
          <table>
            <tr>
              <td id="info">
                <img src="/images/icon/info.svg" alt="Small info icon" height="auto" width="20">
              </td>

              <td id="info_text">
                <p>You must sign in to place an order.</p>
              </td>
            </tr>
          </table>
        </div>

        <div id="signin_button" class="text-center">
          <a href="/login" class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span>
            Sign in with Twitter</a>
        </div>
      <% end %>
    <% end %>
  </div>
</main>

<%= erb :"front_end/footer" %>
